<h3>Filters using Pipe - Demo</h3>

Category : 
<select [(ngModel)]="selectedCategory">
    <option value="">--ALL--</option>
  <option value="Mobile">Mobile</option>
  <option value="Laptop">Laptop</option>
</select>
Selected Category: {{selectedCategory}}
<br/>

<h3>Product List</h3>
<table border="1">
  <thead><tr><th>Sno</th><th>Product Name</th><th>Price</th><th>Category</th></tr></thead>
  <tbody *ngFor="let p of products | category: selectedCategory">
      <tr><td>{{p.id}}</td><td>{{p.name}}</td><td>{{p.price}}</td>
        <td>{{p.category}}</td>
      </tr>
 </tbody>
</table>